/* You can add global styles to this file, and also import other style files */
body {
    height: 85.2vh;
    display: flex;
    flex-direction: column;
  }

.a {
  border-style: solid;
}
#principal {
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  display: block;
  flex: 1;
  padding-left: 2%;
  padding-right: 2%;
}

.card {
  width: 50%;
}
  
  .container-fluid {
    height: 40vh;
  }
  
  .container-text-center{
      width: 100%;
      align-self: center;
  }
  
  input{
    display: inline-block;
    width: 100%;
  }

  center {
    display: inline
  }
  
  .title{
    padding-left: 5%;
    font-size: 160%;
    color: rgba(255,0,0, 0.65);
  }
  
  
  .logo1{
      width: 120%;
  }
  
  .middle{
      background: white;
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
      padding: 3%;
      width: 35%;
      margin: auto;
      margin-top: 5%;
  }
  
  .logo-jacto-principal{
      width: 18%;
      margin-top: 2%;
      margin-bottom: 1%;
  }
  
  .btn{
      color: white;
      font-weight: bold;
      background-color: rgb(255, 87, 65);
  }
  
  .button1{
      margin-right: 0.5%;
      color: white;
      background-color: rgb(255, 87, 65);
  }

  .button2{
      margin-left: 0.5%;
      color: white;
      background-color: rgb(255, 87, 65);
  }
  
  .textfooter{
      margin-bottom: 0.5%;
      margin-top: 0.5%;
  }

  footer {
     position: sticky;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgb(255, 87, 75);
     color: white;
     text-align: center;
  }

  a:link {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:visited {
    font-weight: bold;
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
  }
