<!doctype html>
<html>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand title" href="#" style="color: rgba(0,0,0, 0.6);">
            <img src="/assets/images/jacto-logo.png" width="43%" height="43%" class="d-inline-block align-top" alt="">
            Lean Credit
        </a>
        <button class="btn button2" onclick="window.location.href='/admin';">Voltar</button>
    </nav>
</header>

<body>
<div class="" id="principal">    
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Nome:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.nome }}">
                </div>
                <label class="col-sm-1 col-form-label">Email:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.email }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">{{ user[0]?.identificacao?.length != 14 ? 'CPF' : 'CNPJ' }}:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.identificacao | mask: user[0]?.identificacao?.length != 14 ?  '000.000.000-09' : '00.000.000/0000-00' }}">
                </div>
                <label class="col-sm-1 col-form-label">Tipo:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.tipo_cliente == 'fornecedor' ? 'Fornecedor' : 'Cliente' }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Telefone:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.telefone | mask: '(00) 0 0000-0009' }}">
                </div>
                <label class="col-sm-1 col-form-label">Endereço:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.endereco }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Estado:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.estado }}">
                </div>
                <label class="col-sm-1 col-form-label">CEP:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" disabled value="{{ user[0]?.cep }}">
                </div>
            </div>
        <hr>
        <div class="form-group row">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

            <label class="col-sm-1 col-form-label">Score:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.novo_risco_6_meses?.score }}">
            </div>
            <label class="col-sm-1 col-form-label">Porcentagem Inadimplência:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.novo_risco_6_meses?.porcentagem_inadimplencia }}">
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-1 col-form-label">Data Protesto:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.protestos?.Data_do_protesto }}">
            </div>
            <label class="col-sm-1 col-form-label">Cartorio:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.protestos?.Cartorio }}">
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-1 col-form-label">Cidade:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.protestos?.Cidade }}">
            </div>
            <label class="col-sm-1 col-form-label">UF:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.protestos?.UF }}">
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-1 col-form-label">Valor (R$):</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" disabled value="{{ aceData?.response?.protestos?.ValorRS }}">
            </div>
        </div>
        
        
</div>

<footer>
    <p class="textfooter"><small><a href="https://www.grupojacto.com.br/">Grupo Jacto</a> &copy; 2019 <img
                src="/assets/images/jacto-footer-logo.png"> Todos os Direitos Reservados</small></p>
</footer>
</body>
</html>