<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
  <title>Lean Credit</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand title" href="#" style="color: rgba(0,0,0, 0.6);">
      <img src="/assets/images/jacto-logo.png" width="43%" height="43%" class="d-inline-block align-top" alt="">
      Lean Credit
    </a>
    <button class="btn button2" onclick="window.location.href='#';">Voltar</button>
  </nav>
	<div class="container-fluid" id="principal">
  <form name="formPrincipal" [formGroup]="formPrincipal" (ngSubmit)="onSubmit()">
    <div id="radios">
      <div>
        <div class="form-check form-check-inline col-sm-1">
        <input type="radio" name="tipoIdentificacao" formControlName="tipoIdentificacao" required [(ngModel)]="identifi" (ngModelChange)="changemaskIdentifi()" value="CPF" >
        <label class="form-check-label"> CPF</label>
        </div>
        <div class="form-check form-check-inline col-sm-1">
        <input type="radio" name="tipoIdentificacao" formControlName="tipoIdentificacao" required [(ngModel)]="identifi" (ngModelChange)="changemaskIdentifi()" value="CNPJ">
        <label class="form-check-label"> CNPJ</label>
      </div>
      </div>
      <div>
        <div class="form-check form-check-inline col-sm-1">
        <input type="radio" name="tipo_cliente" formControlName="tipo_cliente" required value="cliente">
        <label class="form-check-label"> Cliente</label>
        </div>
        <div class="form-check form-check-inline col-sm-1">
        <input type="radio" name="tipo_cliente" formControlName="tipo_cliente" required value="fornecedor">
        <label class="form-check-label"> Fornecedor</label>
        </div>
      </div>
      <div>
        <div class="form-check form-check-inline col-sm-4">
          <input type="checkbox" (click)='toggleDisable()' name="suframaCheck" formControlName="suframaCheck" value="necessario">
          <label class="form-check-label"> Suframa necessario?</label>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="endereco" required="true" placeholder="Endereço">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" formControlName="cep" required="true" mask="00.000-000" placeholder="CEP">
      </div>
      <div class="form-group col-md-3">
        <select class="form-control" formControlName="estado" required="true"  (ngModelChange)="changemasksuframa()" >
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SP">SP</option>
          <option value="SC">SC</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <input type="text" class="form-control" required="true" formControlName="nome" placeholder="Nome">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" required="true" [mask]="maskidentifi" formControlName="identificacao" placeholder="CPF/CNPJ">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" required="true" [mask]="masksuframa" formControlName="suframa" placeholder="Suframa">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email" class="form-control" required="true" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" required="true" id="telefone" name="telefone" formControlName="telefone" mask="(00) 0 0000-0009" placeholder="Telefone">

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-6">
        <input type="password" class="form-control" placeholder="Senha" required="true" formControlName='senha' (keyup)="checkPassSame()">
        <div *ngIf="formPrincipal.controls?.senha?.invalid && formPrincipal.controls?.senha.touched">

        </div>
      </div>

      <div class="form-group col-sm-6">
        <input type="password" class="form-control" placeholder="Confirmar Senha" required="true" formControlName='confPass' (keyup)="checkPassSame()">
        <div *ngIf="formPrincipal.controls?.confPass?.invalid && formPrincipal.controls?.confPass.touched">
        </div>
      </div>
    </div>
    <p *ngIf="confirmPassword" class="alert alert-danger">As senhas não são iguais </p>  
    <p *ngIf="formPrincipal.valid === false" class="alert alert-warning">Preencha TODOS os campos corretamente</p>
    <p *ngIf="confirmSubmit" class="alert alert-success"> Cadastrado com sucesso </p>  
    <button type="submit" class="btn btn-primary button2" [disabled]="!formPrincipal.valid" >Cadastrar</button>
  </form>
	</div>

	<footer class="footer">
    <p class="textfooter"><small><a href="https://www.grupojacto.com.br/">Grupo Jacto</a> &copy; 2019 <img src="/assets/images/jacto-footer-logo.png"> Todos os Direitos Reservados</small></p>
  </footer>
</body>
</html>