/* You can add global styles to this file, and also import other style files */
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#principal {
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
	display: block;
	flex: 1;
}

.container-fluid {
	text-align: center;
	height: 50vh;


}


.title{
	padding-left: 5%;
	font-size: 160%;
	color: rgba(255,0,0, 0.65);
	
}
.logo1{
	width: 120%;
}


.logo-jacto-principal{
	margin-top: 3%;
	margin-bottom: 2.5%;
}


.btn:hover{
	color: white;
	font-weight: bold;

}

.button1{
	margin-right: 0.5%;
	color: white;
	background-color: rgb(255, 87, 65);
}
.button2{
	margin-left: 0.5%;
	color: white;
	background-color: rgb(255, 87, 65);
}

.textfooter{
	margin-bottom: 0.5%;
	margin-top: 0.5%;
}



footer {
   position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(255, 87, 75);
   color: white;
   text-align: center;
}


a:link {
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:visited {
  font-weight: bold;
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  background-color: transparent;
  text-decoration: underline;
}

