<!doctype html>
<html>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand title" href="#" style="color: rgba(0,0,0, 0.6);">
            <img src="/assets/images/jacto-logo.png" width="43%" height="43%" class="d-inline-block align-top" alt="">
            Lean Credit
        </a>
        <button class="btn button2" onclick="window.location.href='#';">Voltar</button>
    </nav>
</header>
<body>
<div class="" id="principal">
    <form [formGroup]="form">
        <div class="">
            <div class="row">
                    <div class="active-cyan-4 mb-4 col-sm-4">
                            <input class="form-control" type="text" formControlName='search' placeholder="Buscar" aria-label="Buscar">
                    </div>
            </div>
            <hr>
        </div>
    </form>


    <div class="row">
        <div class="col-sm-12 m-3" *ngFor="let user of filtredUsers">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{ user?.nome }} </h5>
                    <p class="card-text"> {{ user?.identificacao?.length != 14 ? 'CPF' : 'CNPJ' }}: {{ user?.identificacao | mask: user?.identificacao?.length != 14 ?  '000.000.000-09' : '00.000.000/0000-00' }}</p>
                    <button class="btn btn-primary button2" (click)="detailedUser(user.id_user)">Mais Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p class="textfooter"><small><a href="https://www.grupojacto.com.br/">Grupo Jacto</a> &copy; 2019 <img
                src="/assets/images/jacto-footer-logo.png"> Todos os Direitos Reservados</small></p>
</footer>
</body>
</html>